/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-inter:'Inter';
    --font-ps2p:'PressStart2P-Regular';
    --title-size:18px;
    --text-size:18px;
    --button-size:14px;
    --lebel-size:14px;
    --h1-font-size:clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    --subtitle-font-size:clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --border:2px solid var(--accent-color);

    --weight-h1:400;
    --weight-text:465;
    --weight-title:785;
    --text-color:#00CC14;
    --bg-color:#000000;
    --accent-color:#00CC14;
    --but-color: #00CC14;
    --contour-color:var(--accent-color);


    /* переменные сердца */

    --heart-contour-color: #00CC14;
    --sparks-color: #ff0000;
    --main-body-color: #00CC14; 
    
    --bg-img: repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(#007f0c, #004306);
    
}